# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# file managers
.DS_Store

# db files
db.sqlite3
*.pyc
*.db
*.bat

# Django specific
migrations/
__pycache__

# IDE
.floo
.flooignore

# IntelliJ IDEA
.idea/
*.iml

# proj files
.project
.pydevproject

#dump
sh.exe.stackdump
teapot/bin/activate
teapot/bin/activate.csh
teapot/bin/activate_this.py
teapot/bin/activate.fish
teapot/bin/django-admin
media/tea_images/arctic_fire.jpg
media/tea_images/breakfast_tea.jpg
teapot/bin/wheel
teapot/include/python3.6m
teapot/bin/python3.6
teapot/bin/python3
teapot/bin/python-config
teapot/bin/python
teapot/bin/pip3.6
teapot/bin/pip3
teapot/bin/pip
teapot/bin/pyjwt
teapot/bin/easy_install-3.6
teapot/bin/easy_install
teapot/bin/django-admin.py
teapot/bin/chardetect
