
{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}


{% block body_block %}
<div id="login-page">
	{% if user.is_authenticated %}
		<h2> You are logged in as {{ user.username }} </h2>
		<p> To log in with a different account, you must first <a href="{% url 'logout' %}"> log out.</a></p>
	{% else %}
		<h1>Login</h1>
		<form id="login_form" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<h5>Username:</h5><input type="text" name="username" value="" size="50" />
			<br />
			<br />
			<h5>Password:</h5><input type="password" name="password" value="" size="50" />
			<br />
			<br />
			<button type="submit" value="Log in">Log in </button>
		</form>
		<br>
		<br>
		<p>
			Not a member?
			<a href="{% url 'register' %}">Register</a>
		</p>
		<br>
		<p><strong> OR </strong></p>

		<div id="social-login-button">
		<a href="{% url 'social:begin' 'github' %}">
			<img src="{{ MEDIA_URL }}icons/sign-in-github.png" class="social-login"></a>
		</div>
		<br>
		<div class="social-login-button">
		<a href="{% url 'social:begin' 'facebook' %}">
			<img src="{{ MEDIA_URL }}icons/sign-in-facebook.png" class="social-login"></a>
		</div>
		<br>
		<div class="social-login-button">
		<a href="{% url 'social:begin' 'twitter' %}">
			<img src="{{ MEDIA_URL }}icons/sign-in-twitter.png" class="social-login"></a>
		</div>
		<br>
	{% endif %}
</div>
{% endblock %}