
{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% if user.is_authenticated %}
{% block login_block %}
    <div class="d-inline-block align-top navbar-right">
        <a href="{% url 'logout' %}">Log out</a>
    </div>
{% endblock %}
{% endif %}

{% block body_block %}
<div id="everything">
	{% if user.is_authenticated %}
		<h2> You are logged in as {{ user.username }} </h2>
		<p> To log in with a different account, you must first <a href="{% url 'logout' %}"> log out.</a></p>
	{% else %}
		<h1>Login</h1>
		<form id="login_form" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			Username: <input type="text" name="username" value="" size="50" />
			<br />
			<br />
			Password: <input type="password" name="password" value="" size="50" />
			<br />
			<br />
			<input type="submit" value="Log in" />
		</form>
		<p>
			Not a member?
			<a href="{% url 'register' %}">Register</a>
		</p>
		<br>
		<p><strong> OR </strong></p>
		<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
		<a href="{% url 'social:begin' 'facebook' %}">Log in with Facebook</a><br>
		<a href="{% url 'social:begin' 'twitter' %}">Log in with Twitter</a><br>
	{% endif %}
</div>
{% endblock %}