{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body_block %}

<div class="account">
	<div class="personal">
	{% if user %}
		<div id="display-name">

			<h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>

		</div>
		{% if profile %}
		<img id="profile-img" img src="{{ MEDIA_URL }}{{ profile.profile_pic }}">
		{% else %}
		<strong>Finish updating your profile by adding a profile picture</strong>
		{% endif %}
	{% endif %}
	</div>

	<div class="social-tea">
		<div class="recent-posted-review">
			<h2>My Reviews:</h2>
			{% if reviews %}
				{% for review in reviews %}
					<p class="review-tea-name">{{ review.tea }}</p>
					<span class="score" data-rating="{{ review.rating }}">
						{% include 'tea/star_rating.html' %}
						</span>
					<p>{{review.date}}</p>
					{{ review.content }}
				{% endfor %}
			{% endif %}
		</div>

	<div class="recent-posted-review">
		<h2>Favourite teas:</h2>
		{% if favourites %}
			<ul class="fav-list">
			{% for favourite in favourites %}
				<li class="fav-tea-name">{{ favourite.tea }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>

{% endblock %}


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/src/js/main.js"></script>