
<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Leaf it to Us {% endblock %}</title>

  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Jura|Nanum+Brush+Script|Prompt" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Django dynamically generates global variables for JS scripts to use -->
  <script type="text/javascript">
   var static_media_url = "{{ MEDIA_URL }}";
  </script>
  {% block style_block %}
  {% endblock %}
</head>

<body>

  <!-- DOCUMENTATION NAVBAR -->
{% block navbar_block %}
  <nav class="navbar navbar-default">

    <!-- Inside of a Container -->
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- This is the actual code that create the "hamburger icon" -->
      <!-- The data-target grabs ids to put into the icon -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

          <!--  Code for the hamburger icon-->
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand navbar-left" href="{% url 'home' %}">

          <img class="logo" src="{{ MEDIA_URL }}/icons/Untitled-1.png" class="d-inline-block align-top" alt="picture of teacup">
        </a>
         <h4 class="navbar-text"><B>Leaf It To Us</b></h4>

       

      </div>

      <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
{% endblock %}

{% block searchbar_block %}
        <!-- SEARCH BAR -->

          <form id="search_form" method="post" action="{% url 'search' %}" class="navbar-form d-inline-block align-items-center navbar-left" role="search">
              {% csrf_token %}
              {{ error }}
            <div class="form-group">
              <input type="text" name="query" class="form-control" placeholder="Search">
            </div>
            <button href="#" type="submit" class="btn btn-default">Submit</button>
          </form>
{% endblock %}

        <!-- Stuff on the Right -->


{% block login_block %}

<div id="login-option">
  <div class="d-inline-block align-top navbar-right">
      <ul class="nav navbar-nav">
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log out</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'login' %}">Sign-up</a></li>
    {% endif %}
          </ul>
    </div>
  </div>
{% endblock %}

  </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

{% block sidebar_block %}
  <!-- Sidebar -->
  <nav id="sidebar" class="col-md-2">
    <!-- Sidebar Header -->
    <div class="sidenav">

      <a href="{% url 'home' %}"><h4><B>Home</B></h4></a>
      <a href="{% url 'catalog' %}"><h4><b>Browse all</b></h4></a>
      <a href="{% url 'faq' %}"><h4><b>FAQ</h4></b></a>
      <a href="{% url 'contact_us' %}"><h4><b>Contact us</b></h4></a>
      {% if user.is_authenticated %}
      <a href="{% url 'show_account' %}"><h4><b>My account</b></h4></a>

      {% endif %}
    </div>
  </nav>
{% endblock %}
      <!-- Body (This isn't working right) -->

{% block body_block %}

{% endblock %}
  <!-- JQuery v3.3.1 -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Bootstrap v3.3.7 JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Leaf It's Custom JavaScript -->
  <script type="text/javascript" src="{% static 'src/js/mugshot.js' %}"></script>
  <script type="text/javascript" src="{% static 'src/js/main.js' %}"></script>

</body>
