{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}


{% block body_block %}

    <div class="col-md-4">
        <div class="tea-month">
            {% if tea %}
            <h2>Tea of the moment</h2>
            <div class="img"><img src="{{ MEDIA_URL }}{{ tea.image }}" alt="picture of {{ tea.name }}" class="tea-image"></div>
            <div class="tea-desc">
                <h3><strong><a href="{% url 'catalog'%}{{ tea.slug }}">{{ tea.name }}</a></strong></h3><br>
                <h4>{{ tea.description }}</h4><br>
                <h4>Origin: {{ tea.origin }}</h4><br>
                <h4>Brewed at {{ tea.temperature }} degrees</h4><br>
            </div>
            {% endif %}
        </div>
    </div>

<!--     basically i want this as a cube here, but in a row on a spectea page
    and i can't work out how to do different things with an included block
    so this is a row too right now
    dk whether to put the text in the block or if that'll complicate things further-->
    <div class="included-icon-group">
        <h3 id="icon-search-text">Search by</h3>
        {% include 'tea/icon-group2.html' %}
    </div>

        <div class="mugshot-api">
            <h2>Mugshot</h2>
            <div id="display-mugshot">
            </div>
        </div>
    </div>

{% endblock %}