<div id="icon-group">

<!--     <div class="column"> -->
        <div class="icon-img">
            <img src="http://via.placeholder.com/120x120" alt="temperature icon">
        </div>


        <div class="icon-img">
            <img src="http://via.placeholder.com/120x120" alt="origin icon">
        </div>
        <!-- <h4 class="icon-name">Origin</h4> -->
<!--     </div>

    <div class="column"> -->
        <div class="icon-img">
            <img src="http://via.placeholder.com/120x120" alt="type icon">
        </div>
        <!-- <h4 class="icon-name">Type</h4> -->

        <div class="icon-img">
            <img src="http://via.placeholder.com/120x120" alt="rating icon">
        </div>
        <!-- <h4 class="icon-name">Rating</h4> -->
<!--     </div> -->


</div>
<h4 id="icon-tagline">Temperature</h4>