<div id="icon-group">

<!--     <div class="column"> -->
        <div class="icon-img">
            <img src="{{ MEDIA_URL }}/icons/tempicon.jpg" class="single-icon" alt="temperature icon">
        </div>


        <div class="icon-img">
            <a href="{% url 'origin' %}">
                <img src="{{ MEDIA_URL }}/icons/origin.jpg" class="single-icon" alt="origin icon">
            </a>
        </div>
        <!--  -->
<!--     </div>

    <div class="column"> -->
        <div class="icon-img">
            <a href="{% url 'type' %}">
                <img src="{{ MEDIA_URL }}/icons/teatype.jpg" class="single-icon" alt="type icon">
            </a>
        </div>
        <!--  -->

        <div class="icon-img">
            <a href="{% url 'top_rated' %}">
            <img src="{{ MEDIA_URL }}/icons/favicon.jpg" class="single-icon" alt="rating icon">
            </a>
        </div>
        <!--  -->
<!--     </div> -->


</div>
<div class="name-row">
<h4 class="icon-name">Temperature</h4>
<h4 class="icon-name">Origin</h4>
<h4 class="icon-name">Type</h4>
<h4 class="icon-name">Rating</h4>
</div>
