

.body {
    font-size: 50%;

}
.row {
    background-color: gray;

}


#filter-options {
    margin-right: 50%;
    font-size: 50%;
}

.col-md-2 {
    margin-top: 10%;
    margin-left: 5%;
    display: inline-block;
    background-color:lavender;
    color: green;
}

.tname {

}