{% extends 'tea/base.html' %}
{% load staticfiles %}

<title>Search page</title>

<link rel="stylesheet" href="search.css">


<body>
{% block body_block %}

    <div class ="container-fluid">
        <div class="row">
            <p>Search filters</p>
            <p href="#">Temperature</p>
            <p href="#">Type</p>
            <p href="#">Origin</p>
            <p href="#">Top rated</p>
        </div>


        <div class="col-md-2"><img src="http://via.placeholder.com/150x150" alt="picture of tea"/>
            <h3 class="tname">{{ tea.name }}</h3>
            <h4>{{ tea.rating }}</h4>
        </div>

        <div class="col-md-2"><img src="http://via.placeholder.com/150x150" alt="picture of tea"/>
            <h3>{{ tea.name }}</h3>
            <h4>{{ tea.rating }}</h4>
        </div>

        <div class="col-md-2"><img src="http://via.placeholder.com/150x150" alt="picture of tea"/>
            <h3>{{ tea.name }}</h3>
            <h4>{{ tea.rating }}</h4>
        </div>

    </div>
{% end_block}