{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>tea</title>
    <!-- not working -->
{% endblock %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/specific_tea.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body_block %}

    <div class="breadcrumb">breadcrumb
     <!-- should prob be inherting from a block from somewhere? -->
    </div>

        <div id="tea-info">
            <div class="col-md-9">
                {% if tea %}
                <div class="test">
                    <div class="tea-img"><img src="http://via.placeholder.com/250x250" alt="picture of tea"></div>
                    <div id="tea-name"><p class="name">{{ tea.name }}<p></div>
                    <div id="tea-desc"><p class="desc">{{ tea.description }}</p></div>
                    <p>tag list? </p>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-2">
            <div id="tea-icon-group">
                {% include 'tea/icon-group.html' %}
                <div id="icon-headings">
                    <h4 class="icon-name">Temperature</h4>
                    <h4 class="icon-name">Origin</h4>
                    <h4 class="icon-name">Type</h4>
                    <h4 class="icon-name">Rating</h4>
                </div>
                {% if tea %}
                <div id="detailed-tea-info">
                    <h5 class="tea-details">{{ tea.temperature }}</h5>
                    <h5 class="tea-details">{{ tea.origin }}</h5>
                    <h5 class="tea-details">{{ tea.category }}</h5>
                    <h5 class="tea-details">{{ tea.rating }}</h5>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="review-section">
                <div class="review-sort-bar">
                    <p class="reviews">reviews</p>

                    <div class="review-filter">
                        <p>order by:</p>
                        <button>most recent</button> <!-- maybe dont have as button for real -->
                        <button>top rated</button>
                    </div>
                </div>

                <div class="review-boxes">
                    <div id="review-profile">
                        {% if review %}
                        {% for review in review %}
                            <div id="reviewer-name">{{ review.user }}</div>

                            <span class="score" data-rating="{{ review.rating }}">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            </span>

                            <!-- <div id="tea-rating">{{ review.rating }}</div> -->
                            <p>{{review.date}}</p>
                            <div id="review-text">{{ review.content }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}