{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>tea</title>
    <!-- not working -->
{% endblock %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/specific_tea.css' %}">
{% endblock %}

{% block body_block %}

    <div class="breadcrumb">breadcrumb
     <!-- should prob be inherting from a block from somewhere? -->
    </div>

        <div id="tea-info">
            <div class="col-md-9">
                {% if tea %}
                    <div class="tea-img"><img src="http://via.placeholder.com/250x250" alt="picture of tea"></div>
                    <div id="tea-name">{{ tea.name }}</div>
                    <div id="tea-desc">{{ tea.description }}</div>
                {% endif %}
            </div>
        </div>
        <!-- Testing grounds for Cameron's favouriting tea code -->
        {% if user.is_authenticated %}
        <div class="col-md-12">
            <button id="add-favourite" type="button" data-teaid="{{ tea.id }}" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
            </button>
        </div>
        {% endif %}
        <div class="col-md-2">
            <div id="tea-icon-group">
                {% include 'tea/icon-group.html' %}
                <div id="icon-headings">
                    <h4 class="icon-name">Temperature</h4>
                    <h4 class="icon-name">Origin</h4>
                    <h4 class="icon-name">Type</h4>
                    <h4 class="icon-name">Rating</h4>
                </div>
                {% if tea %}
                <div id="detailed-tea-info">
                    <h5 class="tea-details">{{ tea.temperature }}</h5>
                    <h5 class="tea-details">{{ tea.origin }}</h5>
                    <h5 class="tea-details">{{ tea.category }}</h5>
                    <h5 class="tea-details">{{ tea.rating }}</h5>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="review-section">
                <div class="review-sort-bar">
                    <p class="reviews">reviews</p>

                    <div class="review-filter">
                        <p>order by:</p>
                        <button>most recent</button> <!-- maybe dont have as button for real -->
                        <button>top rated</button>
                    </div>
                </div>

                <div class="review-boxes">
                    <div id="review-profile">
                        {% if review %}
                        {% for review in review %}
                            <div id="profile-pic"><img src="http://via.placeholder.com/50x50" alt="profile pic"></div>
                            <div id="tea-rating">{{ review.rating }}</div>
                            <div id="review-text">{{ review.content }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}