{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>tea</title>
    <!-- not working -->
{% endblock %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/specific_tea.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}



{% block body_block %}

    <div class="breadcrumb"><a href="{% url 'home' %}">Home</a> > <a href="{% url 'catalog' %}">Catalog</a> > {{ tea.name }}
     <!-- should prob be inherting from a block from somewhere? -->
    </div>

        <div id="tea-info">
            <div class="col-md-12">
                {% if tea %}
                <div id="top-box">
                    <div class="tea-img"><img src="http://via.placeholder.com/250x250" alt="picture of tea"></div>
                    <div id="tea-name"><h1 class="name">{{ tea.name }}</h1></div>
                    <div id="tea-desc"><h3 class="desc">{{ tea.description }}</h3></div>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
               {% if not is_user_favourite %}
                <div class="fav-button">
                    <button id="add-favourite" type="button" data-teaid="{{ tea.id }}" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Favourite
                    </button>


                    {% else %}
                    <button id="remove-favourite" type="button" data-teaid="{{ tea.id }}" class="btn btn-default btn-lg" disabled="">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Tea already saved
                    </button>
                    {% endif %}  
                      </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="tea-icon-group">

                {% include 'tea/icon-group.html' %}


                {% if tea %}
                <div id="detailed-tea-info">
                    <h3 class="tea-details">{{ tea.temperature }}°</h3>
                    <h3 class="tea-details">{{ tea.origin }}</h3>
                    <h3 class="tea-details">{{ tea.category }}</h3>
                    <h3 class="tea-details">{{ tea.rating }}</h3>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="review-section">
                <div class="review-sort-bar">
                    <h3 class="review-headline">Reviews</h3>

                    <div class="review-filter">
                        <!-- <p class="review-headline">order by:</p> -->
                        <h3 class="order-by"><a href="#">most recent</a></h3>
                        <h3 class="order-by"><a href="#">top rated</a></h3>
                    </div>
                </div>

                <div class="new-review">
                    <div class="new-review-text">
                        <textarea rows="4" cols="60">
                            Leave a review
                        </textarea>
                    </div>
                    <button>Submit</button>
                </div>

                <div class="individual-review-boxes">
                    <div id="review-profile">
                        {% if review %}
                        {% for review in review %}
                            <div id="reviewer-name">{{ review.user }}</div>

                            <span class="score" data-rating="{{ review.rating }}">
                                {% include 'tea/star_rating.html' %}
                            </span>

                            <p>{{review.date}}</p>
                            <div id="review-text">{{ review.content }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}