{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>tea</title>
    <!-- not working -->
{% endblock %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tea_catalog.css' %}">
{% endblock %}

{% if user.is_authenticated %}
{% block login_block %}
    <div class="d-inline-block align-top navbar-right">
        <a href="{% url 'logout' %}">Log out</a>
    </div>
{% endblock %}
{% endif %}

{% block body_block %}
<div id="everything">
<h1>Browse all teas or
<div class="dropdown" id="catalog-filter">
  sort by:<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    A-Z
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" class="active">A-Z</a></li>
    <li><a href="#" id="popular">Most Popular</a></li>
    <li><a href="#" id="type">Type</a></li>
    <li><a href="#" id="origin">Origin</a></li>
    <li><a href="#" id="recent-reviews">recently reviewed</a></li>
  </ul>
</div>
</h1>
{% if teas %}
	<div class="list-group filterable" id="catalog-list">
	{% for tea in teas %}
	<a href="{{ tea.slug }}" class="list-group-item" data-teaid="{{ tea.id }}">
		<span class="badge">Views {{ tea.views }}</span>
	<h4 class="list-group-item-heading">{{ tea.name }}</h4>
    <p class="list-group-item-text">{{ tea.description }}</p>
        <b>{{ tea.origin }}</b>
        <b>{{ tea.category }}</b>
  	</a>
	{% endfor %}
</div>
</div>
{% endif %}
{% endblock %}