{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>tea</title>
    <!-- not working -->
{% endblock %}
<body>
{% block body_block %}
<h1>Catalog page</h1>
<div class="dropdown" id="catalog-filter">
  Sort By:<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    A-Z
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" class="active">A-Z</a></li>
    <li><a href="#" id="popular">Most Popular</a></li>
  </ul>
</div>
{% if teas %}
	<div class="list-group" id="catalog-list">
	{% for tea in teas %}
	<a href="#" class="list-group-item">
		<span class="badge">Views {{ tea.views }}</span>
	<h4 class="list-group-item-heading">{{ tea.name }}</h4>
    <p class="list-group-item-text">{{ tea.description }}</p>
  	</a>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
</body>
</html>