{% extends 'tea/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>tea</title>
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="specifictea.css">

<body>

        <div class="tea-info">
            <div class="col-md-3">
                <div class="img"><img src="http://via.placeholder.com/150x150" alt="picture of tea"></div>
            </div>

            <div class="col-md-6">
                <div class="tea-desc">
            </div>

            <div class="col-md-2">
                <div class="icons">
    temp / origin / type / brew time / rating / fav inline

    reviews | order by date / rating inline

    review boxes
{% endblock %}