.account {
    margin-left: 20%;
}

.personal {
    display: inline-block;


    padding: 5%;
}

#profile-img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;

}

.social-tea {
    display: inline-block;

    width: 25%;


}

.recent-posted-review {
    padding-bottom: 5%;
    margin-left: 20%;
}

.review-tea-name {
    font-size: 150%;
    text-decoration: bold;
}


.fav-list {
    list-style: none;
}

.fav-tea-name {
    font-size: 125%;
}

.checked {
    color: orange;
}

#review-text {
    width: 40%;
}

.recent-fav-tea {

    padding-top: 4%;


}