/* commenting */

/* selected tag
property:value; */

* {
  color:#FFFEFC;
  font-family: 'Josefin Slab', serif;
  color: #353538;
  text-decoration: none; /*not working*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.nav {
  background-color: #4c5b40;
}

#login-option {
  margin-right: 10%;
  text-transform: uppercase;
}

#placeh {
  margin: 10% 10% 0 0;
  padding-right: 10%;
  padding-left: 20%;
  background-color: grey;
}

.logo {
  width: 100px;
  height: 100px;
}

#litu {
  padding-left: 60%;
  margin-top: 15%;
}

#litu a:hover {
  text-decoration: none;
}

.schbar {
  padding-left: 45%;
  margin-top: 4%;

}


.span{
  background:#fcfcfc;
  font-family: 'Prompt', sans-serif;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
/*
 * Sidebar
 */


/*might need to re-add in the z-index if that's what was preventing the sidebar
from staying on top?*/

#sidebar {
  position: fixed;
  background-color: #dbd5c9;
  width: 20%;
  padding: 10% 0% 10% 5%;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar*/
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content.*/
}


 .sidebar.nav-link {
  font-weight: 500;
  color: red;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
}

.sidebar .nav-link.active {
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
