
.tea-month {
    margin-left: 75%;
    background-color: BurlyWood;
    width: 50%;
}

.tea-desc {
    padding: 7% 2% 7% 2%;

}

#icon-search-text {
    margin-left: 65%;
}

#icon-group {
    margin-left: 55%;
    display: flex;
    padding: 1%;
    background: lavender;
    width: 25%;
}

.icon-img {
    padding-left: 2%;
    display: inline-flex;
}

.single-icon {
    width: 120px;
    height: 120px;
}

.icon-name {
    display: inline-flex;
    padding-left: 7%
}

.name-row {
    margin-left: 54%;
}

.column {
    display: inline-block;
    margin-right: 5%;
}

.mugshot-api {
    margin-left: 55%;
    background: Bisque;
}

.mugshot-img {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 450px;

}