body {
    background-color: #fffefc;
}

.breadcrumb {
    margin-left: 20%;
}

#top-box {
    display: inline-flex;
}

#tea-info {
    background-color: LightSteelBlue;
    margin-left: 25%;
    display: inline-flex;
    padding: 2%;
    width: 60%;
}

.tea-img {
    max-height: 350px;
    max-width: 350px;
    width: auto;
    height: auto;
}

#tea-name {
    text-transform: uppercase;
    font-size: 200%;
    padding: 2%;
    display: block;
}


.desc {
    padding-top: 30%;
}

.fav-button {
    padding-left: 60%;
}

#tea-icon-group {
    margin-top: 3%;
    margin-left: 37%;
    background-color: lavender;
    width: 70%;
}

#icon-group {
    display: inline-flex;
    margin-left: 10%;
}

.icon-img {
    margin-left: 7%;
    margin-right: 7%;
}

.single-icon {
    width: 120px;
    height: 120px;
}

.icon-name {
    display: inline-flex;
    padding-left: 14.2%;
}

#detailed-tea-info {
    display: inline-flex;
}

.tea-details {
    padding-left: 43%;
}

.review-section {
    margin-left: 10%;
}

.review-sort-bar {
    display: inline-flex;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 20%;
    background-color: #4c5b40;
    width: 90%;
}

.review-headline {
    padding-left: 1%;
    text-transform: uppercase;
    color: #dbd5c9;
}

.order-by {
    display: inline-block;
    color: #dbd5c9;
}

.new-review {
    padding-top: 3%;
    margin-left: 45%;
}

.new-review-text {
    display: block;
}

.individual-review-boxes {
    margin-left: 20%;
    padding: 3% 0 3% 3%;
}

.review-filter {
    padding: 5% 0 5% 50%;
    display: flex;
}

.checked {
    color: orange;
}

#review-profile {
    border: 3px solid black; /*just to see its perimeter*/
    display: inline-block;
    width: 30%;
}

#review-text {
    padding-top: 2%;
    width: 20%;