body {
    background-color: #d9d9d9;
}

.breadcrumb {
    margin-left: 20%;
}

.test {
    display: inline-flex;
}

#tea-info {
    background-color: LightSteelBlue;
    margin-left: 25%;
    display: inline-flex;
    padding: 2%;
}

.tea-img {

}

#tea-name {
    text-transform: uppercase;
    font-size: 200%;
    padding: 2%;
}

#tea-desc {
    margin: 1%; /*don't get rid of this, bad things happen*/
}

.desc {
    padding-top: 30%;
}

#tea-icon-group {
    margin-left: 165%; /*lol*/
    margin-top: 10%;
}

#icon-group {
    display: inline-flex;
    background-color: beige;
}

.icon-img {
    margin-left: 15%;
    margin-right: 15%;

}

#icon-tagline {
    margin-left: 51%;
    padding-left: 51%;
    width: 10%;

}

.icon-name {
    display: inline-flex;
}

#icon-headings {
    display: inline-flex;
    padding:25%;
}

#detailed-tea-info {
    display: inline-flex;
    margin-right: 10%;
}

.review-sort-bar {
    display: inline-flex;
    padding-left: 5%;
    margin-top: 20%; /*this is hacky af but it works for now*/
    background-color: grey;
    width: 90%;
}

.review-section {
    margin-left: 10%;

}

.reviews {
    padding-left: 1%;
}

.review-filter {
    padding: 5% 0 5% 50%; /*t&b doing nothing*/
    display: flex;
}

.tea-rating {
    padding-left: 2%;
    display: inline-flex;
}

.checked {
    color: orange;
}

#review-text {
    padding-top: 2%;
    width: 20%;